---
layout: landing
---
<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>{{ site.title }}</h2>
        <p>{{ site.description | markdownify }}</p>
    </div>
    <a href="#one" class="more scrolly">Travel with us</a>
</section>

{% include prague.html %}
{% include london.html %}
{% include milan.html %}