<!-- London -->
<section class="wrapper style1 special">
    <div class="inner">
        <header>
            <h2>London</h2>
            <h4>October 31<sup>st</sup></h4>
            <h6>4 days</h6>
        </header>
        <hr>
        <p><i>You find no man, at all intellectual, who is willing to leave London. No, Sir, when a man is tired of
                London, he is tired of life; for there is in London all that life can afford</i></br></p>
        <p class="right">-Samuel Johnson</span></p>
    </div>
</section>

<section class="wrapper alt style1 special">
    <section class="features">
        <div class="image"><img src="images/london_006.jpg" alt="" /></div>
    </section>
</section>

<section class="wrapper alt2 style1 special">
    <section class="two-columns">
        <div class="left"><img src="images/london_001.jpg" alt="" /></div>
        <div class="right"><img src="images/london_002.jpg" alt="" /></div>
    </section>
</section>

<section class="wrapper alt style1 special">
    <section class="features">
        <div class="image"><img src="images/london_003.jpg" alt="" /></div>
    </section>
</section>

<section class="wrapper alt2 style1 special">
    <section class="two-columns">
        <div class="left"><img src="images/london_004.jpg" alt="" /></div>
        <div class="right"><img src="images/london_008.jpg" alt="" /></div>
    </section>
</section>

<section class="wrapper alt style1 special">
    <section class="features">
        <div class="image"><img src="images/london_005.jpg" alt="" /></div>
    </section>
</section>