<!-- Milan -->
<section class="wrapper style1 special">
    <div class="inner">
        <header>
            <h2>Milan</h2>
            <h4>September 28<sup>th</sup></h4>
            <h6>3 days</h6>
        </header>
        <hr>
        <p><i>Retire me to my Milan, where every third thought shall be my grave</i></br></p>
        <p class="right">-William Shakespeare</span></p>
    </div>
</section>

<section class="wrapper alt style1 special">
    <section class="features">
        <div class="image"><img src="images/milan_001.jpg" alt="" /></div>
    </section>
</section>

<section class="wrapper alt2 style1 special">
    <section class="two-columns">
        <div class="left"><img src="images/milan_003.jpg" alt="" /></div>
        <div class="right"><img src="images/milan_002.jpg" alt="" /></div>
    </section>
</section>

<section class="wrapper alt style1 special">
    <section class="features">
        <div class="image"><img src="images/milan_004.jpg" alt="" /></div>
    </section>
</section>