<!-- Prague -->
<section class="wrapper style1 special">
    <div class="inner">
        <header>
            <h2>Prague</h2>
            <h4>November 30<sup>th</sup></h4>
            <h6>3 days</h6>
        </header>
        <hr>
        <p><i>The ancient splendor and beauty of Prague, a city beyond compare, left an impression on my imagination that will never fade</i></br></p>
        <p class="right">-Richard Wagner</span></p>
    </div>
</section>

<section class="wrapper alt style1 special">
    <section class="features">
        <div class="image"><img src="images/prague_002.jpg" alt="" /></div>
    </section>
</section>

<section class="wrapper alt2 style1 special">
    <section class="two-columns">
        <div class="left"><img src="images/prague_001.jpg" alt="" /></div>
        <div class="right"><img src="images/prague_003.jpg" alt="" /></div>
    </section>
</section>

<section class="wrapper alt style1 special">
    <section class="features">
        <div class="image"><img src="images/prague_004.jpg" alt="" /></div>
    </section>
</section>